/* BODY */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1c8e2e;
  --border-radius: 10px;
  --header-height: 70px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0 !important;
}

.dropdown-menu {
  display: none !important; /* Ẩn mặc định */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block !important; /* Hiển thị khi hover hoặc focus */
}

/* STICKY */
.Sticky {
  position: -webkit-sticky; /* Để hỗ trợ cho các trình duyệt cũ hơn */
  position: sticky; /* Dính khi cuộn */
  top: 0; /* Đặt khoảng cách từ trên cùng của cửa sổ */
  z-index: 1000; /* Đảm bảo sticky phần tử nằm trên các phần tử khác */
}

.header,
.nav {
  background-color: white; /* Đảm bảo có nền để phần tử có thể dính */
  z-index: 1; /* Đảm bảo chúng hiển thị trên các phần tử dưới */
}

/* Kiểm tra overflow cho phần tử cha */
.Sticky .container-fluid {
  overflow: visible; /* Đảm bảo không có thuộc tính overflow */
}

/*  */
.choose ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

/* Hiệu ứng hover chỉ thay đổi màu chữ */
.choose ul li a:hover {
  color: #1c8e2e; /* Màu xanh lục nhẹ khi hover */
}

/* HEADER */
.header {
  height: var(--header-height);
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #1c8e2e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.grid {
  width: 97%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-header {
  display: flex;
  align-items: center;
  gap: 3%;
  justify-content: flex-end;
  padding-right: 0;
}

.brand-name {
  font-size: 1.7rem;
}

.item-header input[type="search"] {
  width: 300px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid;
  border-radius: var(--border-radius);
}

.search-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-group button {
  width: 50px;
  height: 40px;
}

.search-group img,
.cart-icon img,
.user-icon img {
  width: 35px;
  height: 35px;
}

.user-icon {
  display: flex;
  flex-direction: column;
}

.list-option-user {
  display: flex;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* z-index: 840; */
  /* height: 50vh; */
  width: 18vh;
  right: -49px;
  top: 103%;
  justify-content: center;
  align-items: center;
}

.list-option-user {
  display: none;
}

.list-option-user ul button {
  background-color: white;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-group-item {
  width: 100px;
}

.user-icon {
  position: relative;
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.brand-logo img {
  width: 110px;
  height: 110px;
}

.choose ul {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 26px;
}

.choose a {
  text-decoration: none;
  color: inherit;
}

.navbar-toggler {
  display: none !important;
  margin-right: 1rem;
}

/* SECTION */
.section img {
  width: 100%;
  height: 23vw;
  object-fit: cover;
  object-position: 50% 50%;
  display: flex;
}

/* ARTICLE  */
.article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vw;
}

.title-cart {
  margin: 4vw;
}

.infor-order {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 41rem;
  width: 60%;
  margin-top: -4vw;
}

.infor-order input[type="radio"] {
  width: 23px;
}

.status-order {
  display: flex;
  flex-direction: row;
  background-color: #99e5a5;
  width: 70%;
  height: 8vw;
  align-items: center;
  justify-content: center;
  margin-top: 4.5vw;
  gap: 10px;
}

.status-order hr {
  height: 1px;
  width: 21%;
  border: 1px dashed black;
}

.infor-goods {
  width: 70%;
}

.noti-order-success {
  width: 76%;
  font-size: 183%;
}

.noti-order-success p {
  color: #065212;
}

.noti-thanks {
  width: 70%;
}

.cart-2 {
  width: max(30px, 50px);
  height: 50px;
}

.id-02 {
  filter: invert(20%) sepia(100%) saturate(500%) hue-rotate(90deg);
}

.infor-order img {
  width: 40px;
  align-items: center;
  text-align: center;
}

.order {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10rem;
  align-items: center;
}

.order-img img {
  width: 7rem;
  height: 7rem;
}

.order hr {
  border: 3px dashed green;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.7rem;
  width: 100%;
  height: 7rem;
}

.name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
}

.dat-hang {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dat-hang button {
  width: 200px;
  height: 70px;
  border-radius: 10px;
}

/* FOOTER  */
footer {
  width: 100%;
  height: 55em;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url("/img/LAST_HOME.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col-01 {
  flex: 0 0 auto;
  width: 28.333333%;
  margin-top: 5%;
}

.row-1 img {
  width: 88%;
  height: auto;
}

.row-2 hr {
  border: 3px solid white;
  width: 55%;
}

.row-3 p {
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
  color: white;
  font-size: 21px;
  text-align: justify;
}

.icon-socialnet img {
  width: 3rem;
}

.icon-socialnet {
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
  width: 100%;
}

.col-02 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 31%;
}

.col-03 {
  color: white;
  width: 20%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PC  */
@media only screen and (min-width: 1023.98px) {
  .list-option-user {
    display: none;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 38.666667%;
  }
}

/* TABLET and MOBILE  */
@media only screen and (max-width: 768.01px) {
  .item-header {
    gap: 20px;
  }

  .item-header input[type="search"] {
    display: none;
  }

  .search-group button {
    display: none !important;
  }

  .nav,
  .section,
  .menu-option {
    margin: 0;
    padding: 0;
  }

  .choose,
  .search-icon {
    display: none;
  }

  .navbar-toggler {
    display: block !important;
    margin-right: 1rem;
  }

  .offcanvas-body {
    width: 99%;
  }

  .status-order {
    justify-content: center;
  }

  .order {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10rem;
    align-items: center;
  }

  footer {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 61em;
  }

  .row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.col-01 {
    width: 100% !important;
    margin: 0;
  }

  .row-1 img {
    width: 30%;
    margin-top: 2em;
  }

  .row-2 {
    display: flex;
    justify-content: center;
  }

  .row-2 hr {
    width: 33%;
  }

  .col-02 {
    width: 100%;
    margin: 0;
  }

  .col-03 {
    width: 100%;
    margin: 0;
  }

  .text-wrapper {
    text-align: justify;
  }

  .col-03 {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* TABLET  */
@media only screen and (min-width: 425.01px) and (max-width: 768.01px) {
  .infor-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 42em;
    width: 100%;
    margin-top: -4vw;
  }

  .status-order {
    display: flex;
    flex-direction: row;
    background-color: #99e5a5;
    width: 80%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 4.5vw;
  }

  .enter-infor {
    width: 80%;
  }

  .order {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10rem;
    align-items: center;
  }

  .noti-order-success {
    width: 80%;
  }

  .noti-order-success p {
    font-size: 34px;
  }

  .status-order hr {
    height: 1px;
    width: 20%;
    border: 1px dashed black;
  }

  .noti-thanks {
    width: 80%;
  }

  .infor-goods {
    width: 80%;
  }
}

/* MOBILE  */
@media only screen and (max-width: 425.01px) {
  .infor-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60em;
    width: 100%;
    margin-top: -4vw;
  }

  .status-order img {
    width: 31px;
    align-items: center;
    text-align: center;
  }

  .status-order {
    display: flex;
    flex-direction: row;
    background-color: #99e5a5;
    width: 95% !important;
    height: 83px;
    align-items: center;
    justify-content: center;
    margin-top: 4.5vw;
  }

  form,
  .enter-infor,
  .infor-goods,
  .enter-infor-02,
  .img-icon-pay {
    width: 95%;
  }

  .order {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10rem;
    align-items: center;
  }

  footer p {
    margin-bottom: 0rem;
  }

  .row-1 img {
    width: 53%;
  }

  .text-wrapper {
    display: flex;
    justify-content: center;
  }

  .text-wrapper strong {
    font-size: 36px;
  }

  .text-wrap-1 {
    display: none;
  }

  .text-wrapper-3-1 p {
    font-size: 31px;
  }

  .col-03 {
    text-align: start;
    align-items: normal;
  }

  .noti-order-success {
    width: 95%;
  }

  .noti-order-success p {
    font-size: 18px;
  }

  .noti-thanks {
    width: 95%;
  }
}
