/* Google fonts import link */

:root {
  --color-106c1f: #106c1f;
  --color-1c8e2e: #1c8e2e;
  --color-085514: #085514;
  --color-106c1f: #106c1f;
  --color-1c8e2ed1: #1c8e2ed1;
  --font-Roboto: "Roboto", sans-serif;
  --font-Inter: "Inter", sans-serif;
  --border-radius: 10px;
  --header-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.navbar-toggler {
  display: none !important;
}

html,
body {
  padding: 0 !important;
}

/* header */
/* STICKY */
.Sticky {
  position: -webkit-sticky; /* Để hỗ trợ cho các trình duyệt cũ hơn */
  position: sticky; /* Dính khi cuộn */
  top: 0; /* Đặt khoảng cách từ trên cùng của cửa sổ */
  z-index: 1000; /* Đảm bảo sticky phần tử nằm trên các phần tử khác */
}

.header,
.nav {
  background-color: white; /* Đảm bảo có nền để phần tử có thể dính */
  z-index: 1; /* Đảm bảo chúng hiển thị trên các phần tử dưới */
}

/* Kiểm tra overflow cho phần tử cha */
.Sticky .container-fluid {
  overflow: visible; /* Đảm bảo không có thuộc tính overflow */
}

/*  */
.choose ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

/* Hiệu ứng hover chỉ thay đổi màu chữ */
.choose ul li a:hover {
  color: #1c8e2e; /* Màu xanh lục nhẹ khi hover */
}

/* = */

.header {
  height: var(--header-height);
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #1c8e2e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.grid {
  width: 97%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-header {
  display: flex;
  align-items: center;
  gap: 3%;
  justify-content: flex-end;
  padding-right: 100px;
}

.brand-name {
  font-size: 1.7rem;
}

.item-header input[type="search"] {
  width: 300px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid;
  border-radius: var(--border-radius);
}

.search-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-group button {
  width: 50px;
  height: 40px;
}

.search-group img,
.cart-icon img,
.user-icon img {
  width: 35px;
  height: 35px;
}

.user-icon {
  display: flex;
  flex-direction: column;
}

.list-option-user {
  display: flex;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* z-index: 840; */
  /* height: 50vh; */
  width: 18vh;
  right: -49px;
  top: 103%;
  justify-content: center;
  align-items: center;
}

.list-option-user {
  display: none;
}

.list-option-user ul button {
  background-color: white;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-group-item {
  width: 100px;
}

.user-icon {
  position: relative;
}

/*  */
.search-group {
  position: relative;
}

input[type="search"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 83%;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  left: 15%;
}

.product-list .product {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-list .product:hover {
  background-color: #f4f4f4;
}

.product-list .product img {
  width: 45%;
  height: 30%;
  object-fit: cover;
  margin-right: 10px;
}

.product-list .product .p-details {
  flex-grow: 1;
}

.product-list .product .p-details h2 {
  margin: 0;
  font-size: 24px;
}

.product-list .product .p-details h3 {
  margin: 5px 0 0;
  font-size: 19px;
  color: #888;
}
/*  */

/* NAV */

.dropdown-menu {
  display: none !important; /* Ẩn mặc định */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block !important; /* Hiển thị khi hover hoặc focus */
}

/* ============================================ */
/* Thêm padding dày cho dropdown menu */

.dropdown-menu {
  padding: 20px !important; /* Padding lớn cho menu */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Viền nhẹ */
  background-color: #fff; /* Màu nền */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng */
}

.dropdown-item {
  padding: 10px 15px !important; /* Khoảng cách nội dung trong từng mục */
  margin-bottom: 10px; /* Khoảng cách giữa các mục */
  border-radius: 10px !important; /* Bo góc nhẹ cho từng item */
  transition: background-color 0.2s ease, transform 0.2s ease;
  color: #333; /* Màu chữ */
  border: none; /* Xóa viền bên trong */
}

/* Xóa khoảng cách cuối cùng */
.dropdown-item:last-child {
  margin-bottom: 0;
}

/* Hiệu ứng hover */
.dropdown-item:hover {
  background-color: rgba(144, 238, 144, 0.2); /* Nền xanh nhạt khi hover */
  transform: scale(1.05); /* Phóng to nhẹ khi hover */
  color: #000;
}

/* ============================================== */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.brand-logo img {
  width: 110px;
  height: 110px;
}

.choose ul {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 26px;
}

.choose a {
  text-decoration: none;
  color: inherit;
}

.navbar-toggler {
  display: none !important;
  margin-right: 1rem;
}

/* SECTION */
.section img {
  width: 100%;
  height: 29vw;
  object-fit: cover;
  object-position: 50% 50%;
  display: flex;
  position: relative;
}

/* i-name */
.i-name {
  color: #444a53;
  padding: 30px 30px 0 30px;
  font-size: 35px;
  font-weight: 700;
  margin-top: 70px;
}

/* board */
.board {
  width: 95%;
  margin: 30px 0 30px 30px;
  overflow: auto;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pa-board {
  background-color: #fff;
  z-index: 1;
}

.board p {
  font: 30px;
}

.client-information {
  width: 73%;
}

.order-information {
  width: 45%;
}

.client-information {
  width: 41%;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
}

/* i-name-02 */
.i-name-02 {
  margin-bottom: 40px;
  color: #444a53;
  padding: 30px 30px 0 30px;
  font-size: 35px;
  font-weight: 400px;
  margin-top: 70px;
}

.detail-orders {
  padding: 15px 15px 15px 8px;
  display: flex;
  box-shadow: 1px 1px 9px 5px rgb(14, 95, 28);
  margin: 10px 3px 0 3px;
  height: 145px;
  width: 86%;
  margin: 20px auto;
}

.detail-orders img {
  width: 9em;
  height: auto;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.detail p {
  margin-bottom: 0rem;
}

.detail-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
  font-size: 25px;
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
  font-size: 25px;
}

.delete-button-back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 100px 0;
}

.delete-button-back button {
  margin: 0 10px;
  width: 30%;
  height: 64px;
  font-size: 20px;
  text-align: center;
}

.overplay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.total {
  font-size: 25px;
}

/* footer */
footer {
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url("../img/LAST_HOME.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col-01 {
  flex: 0 0 auto;
  width: 28.333333%;
  margin-top: 5%;
}

.row-1 img {
  width: 88%;
  height: auto;
}

.row-2 hr {
  border: 3px solid white;
  width: 55%;
}

.row-3 p {
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
  color: white;
  font-size: 21px;
  text-align: justify;
}

.icon-socialnet img {
  width: 3rem;
}

.icon-socialnet {
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
  width: 100%;
}

.col-02 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 31%;
}

.col-03 {
  color: white;
  width: 20%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .box_content {
    position: absolute;
    display: none;
  }
}
@media only screen and (max-width: 1025.98px) {
  .list-option-user {
    display: none;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 38.666667%;
  }
}

/* TABLET and MOBILE  */
@media only screen and (max-width: 768.01px) {
  .item-header {
    gap: 20px;
  }

  .item-header input[type="search"] {
    display: none;
  }

  .search-group button {
    display: none !important;
  }

  .nav,
  .section,
  .menu-option {
    margin: 0;
    padding: 0;
  }

  .choose,
  .search-icon {
    display: none;
  }

  .navbar-toggler {
    display: block !important;
    margin-right: 1rem;
  }

  .offcanvas-body {
    width: 99%;
  }

  .status-order {
    justify-content: center;
  }

  footer {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.col-01 {
    width: 100% !important;
    margin: 0;
  }

  .row-1 img {
    width: 30%;
  }

  .row-2 {
    display: flex;
    justify-content: center;
  }

  .row-2 hr {
    width: 33%;
  }

  .col-02 {
    width: 100%;
    margin: 0 4px;
  }

  .col-03 {
    width: 100%;
    margin: 0 3px;
  }

  .text-wrapper {
    text-align: justify;
    margin: 0 4px;
  }

  .col-03 {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .box_content {
    position: absolute;
    display: none;
  }
}

/*  */

/* TABLET  */
@media only screen and (min-width: 425px) and (max-width: 500px) {
  .infor-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 80%;
    margin-top: -4vw;
  }

  add-del input {
    width: 4px;
    height: inherit;
    text-align: center;
  }

  .status-order {
    display: flex;
    flex-direction: row;
    background-color: #99e5a5;
    width: 80%;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-top: 4.5vw;
  }

  .order {
    display: flex;
    flex-direction: row;
    /* background-color: #99e5e5; */
    width: 80%;
    height: 10rem;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 6rem;
  }

  .status-order hr {
    height: 1px;
    width: 20%;
    border: 1px dashed black;
  }
}

/* MOBILE  */
@media only screen and (max-width: 425px) {
  .infor-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 100%;
    margin-top: -4vw;
  }

  .status-order img {
    width: 31px;
    align-items: center;
    text-align: center;
  }

  .status-order {
    display: flex;
    flex-direction: row;
    background-color: #99e5a5;
    width: 95%;
    height: 83px;
    align-items: center;
    justify-content: center;
    justify-content: sp;
    margin-top: 4.5vw;
  }

  .order {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 10rem;
    align-items: center;
  }

  footer p {
    margin-bottom: 0rem;
  }

  .row-1 img {
    width: 53%;
  }

  .row-2 hr {
    width: 47%;
  }

  .text-wrapper {
    display: flex;
    justify-content: center;
  }

  .text-wrapper strong {
    font-size: 36px;
  }

  .text-wrap-1 {
    display: none;
  }

  .text-wrapper-3-1 p {
    font-size: 31px;
  }

  .col-03 {
    justify-content: end;
    align-items: flex-start;
  }

  .box_content {
    position: absolute;
    display: none;
  }

  .box.box_content {
    display: none;
  }
}

/* GiaThieu */
/* responsive */
/* responsive */
/* tablet and mobile */
@media (max-width: 769px) {
  #menu {
    width: 270px;
    position: fixed;
    left: -270px;
    transition: 0.3s ease;
  }

  #menu.active {
    left: 0px;
  }
  #menu-btn {
    display: initial;
  }

  #interface {
    width: 100%;
    margin-left: 0px;
    transition: 0.3s ease;
    display: inline-block;
  }

  #menu.active ~ #interface {
    width: calc(100% -270px);
    transition: 0.3s ease;
    margin-left: 270px;
  }

  #interface .navigation {
    width: 100%;
  }

  .board {
    width: 92%;
    padding: 0;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  .detail-orders {
    display: flex;
    padding: 15px 15px;
  }

  .detail-orders img {
    width: 22%;
  }

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 115px;
    margin: 0 0 0 5px;
  }

  .detail-product,
  .amount {
    flex-direction: row;
    padding: 0;
  }

  .total {
    margin: 0;
  }
}

/* mobile */
@media (max-width: 477px) {
  #interface .navigation {
    padding: 15px;
  }

  #interface .navigation .search input {
    width: 150px;
  }

  .i-name {
    color: #444a53;
    padding: 30px 30px 0 10px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 70px;
  }

  .board {
    margin: 30px 15px 30px 15px;
    flex-direction: column !important;
  }

  .order-information,
  .client-information {
    width: 100%;
  }

  .client-information {
    padding-top: 26px;
  }

  .i-name-02 {
    font-size: 34px;
    padding-left: 15px;
  }

  .detail-orders img {
    display: none;
  }
}
